.product {
  li {
    display: block;
    margin-top: 8pt;
  }
  li:before {
    content: '\e013 ';
    font-family: 'Glyphicons Halflings';
  }
}

.product-header {
  display: block;
  margin: 10px 0;
  .glyphicon {
    font-size: 48pt;
    color: #337ab7;
    vertical-align: middle;
    padding-right: 8px;
  }
  h1,h2,h3,h4,h5 {
    display: inline;
    vertical-align: middle;
  }
}
